

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
.imgPerfil{
  border-radius: 100%;
  width: 30%;
}

header{
    background-color: #7EF3BC;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    height: 120px;
  }
  ul{
    width: 100%;
    list-style: none;
    text-decoration: none;
    align-items: center;
  }
p{
  color: #8059B8;
  margin: 1%;
  font-size: 24px;
  text-decoration: none;
}

li{
  width: 20%;
  text-decoration: none;
  margin: 2%;
  margin-top: 3%;
  text-align: center;
}

.imgMenu{
  width: 20%;
  margin: 1%;
}

nav{
  display: flex;
  align-items: center;
}

header nav ul li a p{

  text-decoration: none;
  text-decoration-line: none;
 }

 .User{
  display: flex;
 }

 .horizontal{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
 }

 .vertical{
  margin:1%;
  position:absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: #e6e6e6;
  font-size: larger;
  border-radius: 3%;
 }

 .vertical > li{
  border-bottom: 2px solid #646464;
  width: 100px;
 }
 .horizontal > li:hover .vertical{
  display:block;
 }


 .offcanvas-body{
  background-color: #202020;
  padding: 0;
 }

 .sidebarbuttons{
  width: 100%;
 }

 .sidebarbutton{
  width: 90%;
  height: 60px;
  background-color: #8059B8;
  font-size: x-large;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 3%;
 }

 .offcanvas-header{

  background-color:#8059B8;
  color: white;
 }

 h5{
  font-size: 23px;
 }

 .imagenYText{
  display:flex;
  justify-content: center;
  align-items: center;
 }

