<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CommunyTalk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CommunyTalk.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="aaa">
<header class="navbar-header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Botón de offcanvas (menú hamburguesa) -->
            @if(BD.IdUsuarioSesion != 0)
            {
                <button class="btn menu-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <img id="flechaHeader" class="imgMenu" src="/images/FlechaAbajo.png" alt="Menú">
                </button>
            }

            <!-- Brand -->
            <a class="navbar-brand brand-text" asp-controller="Home" asp-action="Index">CommunyTalk</a>

            <!-- Toggle para collapse en móviles -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto d-flex align-items-center">
                    @if(BD.IdUsuarioSesion != 0)
                    {
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Usuario" class="nav-link user-link">
                                @{
                                    string FotodePerfil = "/images/UserImages/" + BD.ObtenerFoto(BD.IdUsuarioSesion);
                                }
                                <img class="imgPerfil" src="@FotodePerfil" alt="Foto de perfil">
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- OFFCANVAS -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categoría</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        @if(BD.IdUsuarioSesion != 0)
        {
            <div class="offcanvas-body">
                <ul class="sidebarbuttons">
                    <a class="achicarBoton" asp-controller="Home" asp-action="SearchFriends"><li class="sidebarbutton">Amigos</li></a>
                    <a class="achicarBoton" asp-controller="Home" asp-action="SearchGroups"><li class="sidebarbutton">Grupos</li></a>
                    <a class="achicarBoton" asp-controller="Home" asp-action="SearchCommunities"><li class="sidebarbutton">Comunidades</li></a>
                    <a class="achicarBoton" asp-controller="Home" asp-action="NuevoInteres"><li class="sidebarbutton">Publicar interés</li></a>

                </ul>
            </div>
        }
    </div>
</header>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
