.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.158);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
.imgPerfil{
  border-radius: 100%;
  width: 30%;
}

header {
  background-color: #7EF3BC;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 120px;
  display: flex;
  border-bottom: 1.5px solid #9191911c;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

  ul{
    width: 100%;
    list-style: none;
    text-decoration: none;
    align-items: center;
  }
p{
  color: #8059B8;
  margin: 1%;
  font-size: 24px;
  text-decoration: none;
}

li{
  width: 20%;
  text-decoration: none;
  margin: 2%;
  margin-top: 3%;
  text-align: center;
}

.imgMenu{
  width: 20%;
  margin: 1%;
}

nav{
  display: flex;
  align-items: center;
}

header nav ul li a p{
  text-decoration: none;
  text-decoration-line: none;
}

.User{
  display: flex;
}

.horizontal{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.horizontal > li > a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}


.vertical{
  position:absolute;
  display: none;
  list-style: none;
  width: 160px;
  background-color: #8059B8;
  font-size: larger;
  border-radius: 50px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.39);
}

.vertical > li{
  border-bottom: 2px solid rgba(0, 0, 0, 0.39);
  width: 100px;
  font-size: large;
  color: white;
}
.horizontal > li:hover .vertical{
  display:block;
}

/* Sidebar - Offcanvas */
.offcanvas-body{
  background-color: #202020;
  padding: 0;
}

.offcanvas-header{
  background-color:#8059B8;
  color: white;
}

/* Botones */
.sidebarbuttons{
  width: 100%;
}

.sidebarbutton{
  width: 90%;
  height: 60px;
  background-color: #8059B8;
  font-size: x-large;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 6%;
 }
 .achicarBoton{
  width: 90%;
  height: 60px;
  background-color: #8059B8;
  font-size: x-large;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 6%;
 }

/* Scroll Bar */
.offcanvas-body::-webkit-scrollbar { /* Ancho */
  width: 10px;
}
  
.offcanvas-body::-webkit-scrollbar-thumb { /* Thumb */
  background-color: #585858;
  border-radius: 100px;
}
  
.offcanvas-body::-webkit-scrollbar-corner { /* Esquina */
  background-color: #202020;
}

/* Texto */

.imagenYText{
  display:flex;
  justify-content: center;
  align-items: center;
}

 .imgSide{
  width: 90%;
  margin: 2%;
  border-radius: 500px;
 }

p{
  width: 100%;
  text-align: center;
}