@{
    ViewData["Title"]="Crear un grupo";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<style>
    body{
    background-color: #63468d;
    }
</style>
<h1 class="NombreUsuario">Crear un nuevo grupo</h1>
    <div class="EditarEstructura">
        <div class="Perfil">
            <div class="InfoUsuario">
                <form method="POST" enctype="multipart/form-data" asp-controller="Home" asp-action="InfoGrupo">
                    <p>Link foto de perfil:</p>
                    <input id="FotodePerfil" name="FotodePerfil"/>
                    <p>Nombre:</p>
                    <input id="Nombre" name="Nombre" required>
                    <p>Descripción:</p>
                    <input id="Descripcion" name="Descripcion" required>
                    <p>Privado o público:</p>
                    <select id="Privado" class="form-select" name="Privado">
                        <option value="1">Privado</option>
                        <option value="0">Público</option>
                    </select>
                    <p>Interés/es</p>
                    <select id="interesesExistentes" name="interesesExistentes[]" multiple>
                        @{
                            if(ViewBag.Intereses != null){
                                foreach(Intereses intereses in ViewBag.Intereses){
                                    <option id=@intereses.IdInteres value="@intereses.IdInteres">@intereses.Nombre</option>
                                }
                            }
                            
                        }
                    </select>
                    <input type="hidden" id="interesesFinales" name="numIntereses">
                    <p>Admin:</p>
                    <select id="IdAdmin" class="form-select" name="IdAdmin">
                    @{
                        if(ViewBag.Usuarios!=null)
                        {
                            foreach(Usuarios usuario in ViewBag.Usuarios)
                            {
                                <option value="@usuario.IdUsuario">@usuario.Nombre</option>
                            }
                        }
                        else
                        {
                            <option value="0">No existen más usuarios</option>
                        }
                    } 
                    </select>
                    <div class="botonesNo">
                        <button type="submit" class="BotonIniciar">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectIntereses = document.getElementById('interesesExistentes');
        const choices = new Choices(selectIntereses, {
            removeItemButton: true,
            placeholderValue: 'Seleccionar intereses',
            searchPlaceholderValue: 'Buscar interés',
        });
    });
</script>
