@{
    ViewData["Title"]="Crear un grupo";
}

<style>
    body{
    background-color: #63468d;
    }
</style>

<h1 class="NombreUsuario">Crear un nuevo grupo</h1>
<div class="EditarEstructura">
<div class="Perfil">
<div class="InfoUsuario">
    <form method="POST" enctype="multipart/form-data">
        <p>Foto de perfil:</p>
        <input type="file" name="fotoDePerfil"/>
        <p>Nombre:</p>
        <input id="" name="NombreGrupo" required>
        <p>Descripción:</p>
        <input id="" name="NombreGrupo" required>
        <p>Miembros:</p>
        <select class="selectpicker" value="" multiple data-live-search="true">
        @{
            foreach(Usuarios usuario in ViewBag.Usuarios){
                int i=1;
                <option value="i">@ViewBag.Nombre</option>
                i++;
            }
        }
</select>
<div class="botonesNo">
    <button type="submit" class="BotonIniciar">Enviar</button>
</div>
    </form>
</div>
</div>
</div>

</div>