@{
    ViewData["Title"]="Crear un grupo";
}

<style>
    body{
    background-color: #63468d;
    }
</style>

<h1 class="NombreUsuario">Crear un nuevo grupo</h1>
    <div class="EditarEstructura">
        <div class="Perfil">
            <div class="InfoUsuario">
                <form method="POST" enctype="multipart/form-data" asp-controller="Home" asp-action="InfoGrupo">
                    <p>Link foto de perfil:</p>
                    <input id="FotodePerfil" name="FotodePerfil"/>
                    <p>Nombre:</p>
                    <input id="Nombre" name="Nombre" required>
                    <p>Descripción:</p>
                    <input id="Descripcion" name="Descripcion" required>
                    <p>Privado o público:</p>
                    <select id="Privado" class="form-select" name="Privado">
                        <option value="1">Privado</option>
                        <option value="0">Público</option>
                    </select>
                    <label>
                        Multi-select
                    </label>
                    <select id="interesesList" multiple>
                        <option value="1">Books</option>
                        <option value="2">Movies, Music & Games</option>
                        <option value="3">Electronics & Computers</option>
                        <option value="4">Home, Garden & Tools</option>
                        <option value="5">Health & Beauty</option>
                        <option value="6">Toys, Kids & Baby</option>
                        <option value="7">Clothing & Jewelry</option>
                        <option value="8">Sports & Outdoors</option>
                    </select>
                    <p>Admin:</p>
                    <select id="IdAdmin" class="form-select" name="IdAdmin">
                    @{
                        if(ViewBag.Usuarios!=null)
                        {
                            foreach(Usuarios usuario in ViewBag.Usuarios)
                            {
                                <option value="@usuario.IdUsuario">@usuario.Nombre</option>
                            }
                        }
                        else
                        {
                            <option value="0">No existen más usuarios</option>
                        }
                    } 
                    </select>
                    <div class="botonesNo">
                        <button type="submit" class="BotonIniciar">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>