@{
    ViewData["Title"]="Crear un grupo";
}

<style>
    body{
    background-color: #63468d;
    }
</style>

<h1 class="NombreUsuario">Crear un nuevo grupo</h1>
    <div class="EditarEstructura">
        <div class="Perfil">
            <div class="InfoUsuario">
                <form method="POST" enctype="multipart/form-data" asp-controller="Home" asp-action="InfoGrupo">
                    <p>Link foto de perfil:</p>
                    <input id="FotodePerfil" name="FotodePerfil"/>
                    <p>Nombre:</p>
                    <input id="Nombre" name="Nombre" required>
                    <p>Descripción:</p>
                    <input id="Descripcion" name="Descripcion" required>
                    <p>Privado o público:</p>
                    <select id="Privado" class="form-select" name="Privado">
                        <option value="1">Privado</option>
                        <option value="0">Público</option>
                    </select>
                    <p>Interés/es</p>
                    @if(ViewBag.Intereses != null){
                        <p>a</p>
                        foreach(Intereses interes in ViewBag.Intereses){
                            <div class="Interes">
                                <input type="checkbox" id="interesSwitch"  class="buttonSwitch">
                                <label for="interesSwitch" class="lblSwitch">interes</label>
                            </div>
                        }
                    }
                    else{<p>B</p>}

                    <p>Admin:</p>
                    <select id="IdAdmin" class="form-select" name="IdAdmin">
                    @{
                        if(ViewBag.Usuarios!=null)
                        {
                            foreach(Usuarios usuario in ViewBag.Usuarios)
                            {
                                <option value="@usuario.IdUsuario">@usuario.Nombre</option>
                            }
                        }
                        else
                        {
                            <option value="0">No existen más usuarios</option>
                        }
                    } 
                    </select>
                    <div class="botonesNo">
                        <button type="submit" class="BotonIniciar">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

