@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: #171717;
    }
</style>

@{
    if(BD.IdUsuarioSesion == 0)
    {
        <div class="LandingPage">
            <div class="Imagen">
                <img src = "/images/Logo.png">
            </div>
            <div class="BotonesYtexto">
                <p>Bienvenido a </p>
                <p>CommunyTalk, la</p>
                <p>mejor red social</p>
                <p>para uso estudiantil</p> 
                <div class="Botones">
                    <a href='@Url.Action("Login", "Home")'><button class="Boton1">Iniciar Sesión</button></a> 
                    <a href='@Url.Action("Registrar", "Home", new {error = false})'><button class="Boton2">Registrarse</button></a> 
                </div>
            </div>
        </div>

    }
    else
    {
        /* MENU PRINCIPAL */
        <div class="centrar">
            <img class="logoIndex" src="/images/Logo.png"/>
        </div>
        <p class="Indexinfo">Día a día millones de personas sufren exclusión y discriminación</p>
        <p class="Indexinfo">O no pueden comunicarse con todas la personas con las que querrían entablar un vínculo</p>
        <p class="Indexinfo">Es por eso que creamos CommunyTalk</p>
        <div class="centrar">
        <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img width=100%  src="/images/descarga (1).jfif" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img width=100% src="/images/descarga.jfif" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img width=100% src="/images/friends.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>    
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div></div>
        <p class="Indexinfo">Hacemos lo posible día a día para insentivar la formación de vínculos sanos</p>
    }
}

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>