@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: #171717;
    }
</style>

@{
    if(BD.IdUsuarioSesion == 0)
    {
        <div class="LandingPage">
            <div class="Imagen">
                <img src = "/images/Logo.png">
            </div>
            <div class="BotonesYtexto">
                <p>Bienvenido a </p>
                <p>CommunyTalk, la</p>
                <p>mejor red social</p>
                <p>para uso estudiantil</p> 
                <div class="Botones">
                    <button class="Boton1"><a href='@Url.Action("Login", "Home")'>Iniciar Sesión</a></button> 
                    <button class="Boton2"><a href='@Url.Action("Registrar", "Home", new {error = false})'>Registrarse</a></button> 
                </div>
            </div>
        </div>

    }
    else
    {
        /* MENU PRINCIPAL */
        <div class="centrar">
            <img class="logoIndex" src="/images/Logo.png"/>
        </div>
        <p class="Indexinfo">Día a día millones de personas sufren exclusión y discriminación</p>
        <p class="Indexinfo">O no pueden comunicarse con todas la personas con las que querrían entablar un vínculo</p>
        <p class="Indexinfo">Es por eso que creamos CommunyTalk</p>
        <div class="centrar">
            <img width=80% class="ImgIndex" src="/images/Amigos.jpg"/>
        </div>
        <p class="Indexinfo">Hacemos lo posible día a día para insentivar la formación de vínculos sanos</p>
    }
}

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>