@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-color: #171717;
    }
</style>

<div class="LandingPage">
    <div class="Imagen">
        <img src = "/images/Logo.png">
    </div>
    <div class="BotonesYtexto">
        <p>Bienvenido a </p>
        <p>CommunyTalk, la</p>
        <p>mejor red social</p>
        <p>para uso estudiantil</p> 
        <div class="Botones">
        <button class="Boton1">Iniciar Sesión</button> 
        <button class="Boton2">Registrarse</button> 
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>