@{
    ViewData["Title"] = "Login";
}



<style>
    body{
        background-color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
</style>

<div class="FondoCuadrado">

    <div class="Contenedor1">
        <form action='@Url.Action("VerificarLogin", "Home")' method="post">
        <div class="mb-3">
            <label for="email" class="EstiloTexto">Ingrese su email.</label>
            <input type="email" id="email" name="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="password" class="EstiloTexto">Ingrese su contraseña.</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="botonesNo">
            <button class="BotonIniciar"><a href='@Url.Action("Login", "Home")'>Iniciar sesión</a></button> 
        </div>
       

        <div class="botonesNo">
           <button class="BotonNoIniciar"><a href='@Url.Action("Login", "Home")'>Recuperar contraseña</a></button> 
           <button class="BotonNoIniciar"><a href='@Url.Action("Registrar", "Home")'>Registrarse</a></button> 
        </div>
</form>
</div>


