@{
    ViewData["Title"] = "Perfil";
}

<style>
body{
    background-color: #63468d;
}
</style>
<!--Queda de backend Crear una Funci칩n para conseguir de la BD la InfoUsuario de la Usuario y conectarla con ViewBag ac치, luego en editar la Funci칩n para update eso-->
<div class="EditarInfoUsuario">
    <h1 class="NombreUsuario">Usuario</h1> <!--Nametag-->
    <a href='@Url.Action("EditarUsuario", "Home")'><img class="IconoEditarUsuario" src="/images/EditarUsuario.png"/></a>
</div>
<div class="Perfil">
<img class="ViewFotodePerfil" src="/images/UserImages/defaultBlanco.jpeg"/>
<div class="InfoUsuario">
<p>Nombre: </p> <!--Nombre-->
<p>Email:</p>
<p>Pronombres:</p>
<p>Descripci칩n:</p>
</div>
<button class="BotonAmigos"><a href='@Url.Action("SearchFriends", "Home")'>Amigos</a></button>
</div>
