@{
    ViewData["Title"] = "Perfil";
}
<section>
<h1 class="NombreUsuario">Usuario</h1> <!--Nametag-->
<div class="Perfil">
<img class="ViewFotodePerfil" src="/images/UserImages/ImagenPredeterminada.png"/>
<div class="InfoUsuario">
<p>Nombre:</p> <!--Nombre-->
<p>Email:</p>
<p>Pronombres:</p>
<p>Descripción:</p>
</div>
<div class="Amigos">
</div>
</div>
</section>