@{
    ViewData["Title"] = "Mensajes Privados";
}
<h1 class="ChatName">@ViewBag.Nombre</h1>
 <!--Recordatorio de que acá se van a mostrar los chats con foreach-->
<div class="EnviarMensaje">
<div class="Send">
   <input class="Message" type="text"> 
   <img class="send" src="/images/Send.png">
</div>
</div>