@{
    ViewData["Title"] = "Registrar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<style>
    body{
        background-color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
</style>

<div class="FondoCuadrado">


        <p class="EstiloTexto">Ingrese su mail.</p>
        <input type="email" method="post" >
        <p class="EstiloTexto">Ingrese su contraseña.</p>
        <input type="password" method="post" >
        <p class="EstiloTexto">Ingrese su contraseña nuevamente.</p>
        <input type="password" method="post" >
        <div class="botonesNo">
            <button class="BotonIniciar"><a href='@Url.Action("Login", "Home")'>Registrarse</a></button> 
        </div>
    
    </div>

</div>


<script src="~/js/register.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
