@{
    ViewData["Title"] = "Registrar";
}

<style>
    body{
        background-color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
</style>

<div class="FondoCuadrado">

    <div class="Contenedor1">
        <p class="EstiloTexto">Ingrese su mail.</p>
        <input type="email" method="post" >
        <p class="EstiloTexto">Ingrese su contraseña.</p>
        <input type="password" method="post" >
        <p class="EstiloTexto">Ingrese su contraseña nuevamente.</p>
        <input type="password" method="post" >
        <div class="botonesNo">
            <button class="BotonIniciar"><a href='@Url.Action("Login", "Home")'>Iniciar sesión</a></button> 
        </div>
    </div>

</div>