
<section class="search-section">
    <h1 class="tituloGrupos">Grupos<h1>
        <div class="search-container">
            <input type="text" placeholder="Buscar...">
            <button type="submit" class="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="#7ef3bc" d="M7 2a5 5 0 1 0 0 10A5 5 0 0 0 7 2M0 7a7 7 0 1 1 12.606 4.192l3.101 3.1l-1.414 1.415l-3.1-3.1A7 7 0 0 1 0 7"/></svg></button>
        </div>
        <div class="container">
            <div class="row justify-content-start">
                @{
                    foreach(Grupos grupo in ViewBag.Grupos)
                    {
                        string FotodePerfil = "/images/GroupImages/" + grupo.FotodePerfil;
                        <div class="col-auto mb-3"> <!-- Removemos la clase `.row-cols-3` -->
                            <div class="card carta" style="width: 560px;"> <!-- Cambia 665px a 560px para una reducción del 15% -->
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="@FotodePerfil" class="img-fluid rounded-start cartaImagen">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h1 class="card-title">@grupo.Nombre</h1>
                                            <p class="card-text">@grupo.Descripcion</p>
                                            @if(grupo.Privado == true)
                                            {
                                                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="#8059B8" d="M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6z"/></svg></p>
                                            }
                                            else
                                            {
                                                <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#8059B8" d="M12 2c1.091 0 2.117.292 3 .804a1 1 0 1 1-1 1.73A4 4 0 0 0 8 8l11 .001a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1a6 6 0 0 1 6-6m0 10a2 2 0 0 0-1 3.732V17a1 1 0 1 0 2 0v-1.268A2 2 0 0 0 12 12m7.918-6.979l.966.26a1 1 0 0 1-.518 1.93l-.965-.258a1 1 0 0 1 .517-1.932M18.633 2.09a1 1 0 0 1 .707 1.225l-.129.482a1 1 0 1 1-1.932-.517l.13-.483a1 1 0 0 1 1.224-.707"/></g></svg></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div> <!-- Fin de la fila -->
        </div> <!-- Fin del contenedor -->
</section>
