html {
  font-size: 14px;
}
/*FONT-SIZE SIEMPRE MÍNIMO 24PX*/


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LandingPage {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.BotonesYtexto p{
  color: white;
  font-size: 36px;
  text-align: end;
}
.Imagen img{
  width: 130%;
}

/*Login + Registro*/

.FondoCuadrado{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 800px;
  background-color: #8059B8;
  border: 3px solid #7EF3BC;
}
.Contenedor1 {
  padding: 6%;
}

.EstiloTexto {
  color: #171717;
  font-size: xx-large;
  font-weight: 500;
}