/* General */
html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: #dae6fc;
}

/* Index */
.LandingPage {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BotonesYtexto p{
  color: white;
  font-size: 36px;
  text-align: end;
}

.Imagen img{
  width: 130%;
}

.Boton1{
  transition: 1s;
  width: 45%;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #8059B8;
  border-color: #8059B8;
}

.Boton2{
  transition: 1s;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #7EF3BC;
  border-color: #7EF3BC;
}

.Botones{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6%;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
   -webkit-appearance: button; 
     -moz-user-select: none;
      -ms-user-select: none;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
}

/*Sistema de mensajes*/



.send{
  width: 20%;
  margin-right: 50%;
}

.EnviarMensaje {
  background-color: #63468d;
  width: 100%;
  height: 125px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Message{
  width: 80%;
  height: 70px;

}

.Send{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
}

.imgMenu{
  width: 5%;
}

.tituloGrupos{
  margin-bottom: 2%;
  font-size: 50px;
}

/* SEARCH BAR */

.search-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

}
.search-container {
  display: flex;
  border: 5px solid #80599F;
  border-radius: 50px;
  padding: 5px 2.5px;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5%;
  width: 65%;
}

input[type="text"] {
  border:solid transparent 2px;
  outline: none;
  background-color: black;
  color: white;
  padding: 5px;
  width: 100%;
  border-radius: 50px;
  margin-left: 5px;
  appearance: none;

}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search-button {
  border: none;
  border-radius: 25px;
  margin-top: -2px;
  margin-left: -50px;
  cursor: pointer;
}

.ChangeButton {
  width: 15%;
  color: #171717;
  background-color: #7EF3BC;
  font-size: x-large;
  text-align: center;
  border-radius: 20px;
  margin: 2%;
}

/* GROUP/COMMUNITY CARDS */
.carta {
  border: 4px solid #80599F;
  border-radius: 7px;
  background-color: black;
  color: white;
  display: flex;
  width: 560px; /* Ajuste para que sea 15% más pequeño */
  height: 200px;
}
.cartaImagen {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto ajusta la imagen al tamaño del contenedor */
}

.card-text{
  font-size: large;
}
/* MENSAJES */
.Messages {
  display: flex;
}

.OwnMessages .Mensaje{
  width:40%;
  padding: 2%;
  background-color:#63468d;
  border-radius: 50px;
  color: white;
  font-size: large;
  margin: 0.5%;
}
.OwnMessages {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 2%;
  margin: 0.5%;
}

.OtherMessages .Mensaje{
  width:40%;
  padding: 2%;
  background-color:#7EF3BC;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  font-size: large;
  margin-left: 8%;
}

.OtherMessages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 2%; 
  margin: 0.3%;
}

.ChatName{
  text-align: center;
  margin: 2%;
}

.FotodePerfil{
  width: 3%;
  border-radius: 150px;
  height: min-content;
  margin:2%;
}
.FechaHora {
  font-size: medium;
  color:rgb(175, 175, 175);
}
/*Login + Registro*/

.FondoCuadrado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 700px;
  background-color: #8059B8;
  border: 3px solid #7EF3BC;
  margin-left: 7%;
  margin-top: 2%;
  
}
.Contenedor1 {
  height: 700px;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.EstiloTexto {
  color: #171717;
  font-size: xx-large;
  font-weight: 500;
  padding-top: 2%;
  padding-bottom: 2%;
}

input{
  color: white;
  background-color: #171717;
  outline:none;
  padding: 0 15px; 
  width: 90%;
  height: 50px;
  font-size: xx-large;
  font-weight: 500;
  margin: 2%;
  border-radius: 25px;
}

input:hover{
  color:white;
  background-color: #171717;
}

.BotonNoIniciar{
  width: 50%;
  height: 60px;
  border-radius: 10px;
  font-size: large;
  color: white;
  background-color: #80599F;
  border-color: #80599F;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 2%;
}

.botonesNo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 5%;
}

.BotonIniciar{
  width: 60%;
  height: 60px;
  border-radius: 10px;
  font-size: x-large;
  color: white;
  background-color: #7EF3BC;
  border-color: #7EF3BC;
  margin: 2%;
  margin-top: 3%;
}

.BotonIniciar a{
  color: black;
}

.BotonIniciar a:hover{
  color: black;
  text-decoration: none;
}

/*Perfil Usuario*/
.ViewFotodePerfil{
  width: 25%;
  border-radius: 500px;
  margin-bottom: 2%;
}

.NombreUsuario{
  font-size: 80px;
  text-align: center;
  color: white;
}

.Perfil{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Perfil p, .Perfil a{
  font-size: xx-large;
  color: white;
}


.BotonAmigos{
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #7EF3BC;
  border-color: #7EF3BC;
}


.Amigos{
  width: 20%;
}

.EditarInfoUsuario{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2%;
}

.IconoEditarUsuario{
  width: 50%;
  height:50%;
}

/*Login + registro 2*/
.loginh2{
  text-align: center;
}

.CuadroIniciar{
  width: 50%;
  background-color: #63468d;
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: white;
  border-radius: 15px;
}

.ContenedorLog{
  background-color: #63468d;

}

.InfoIngresar{
  color:white;
  font-size: larger;
  margin: 1%;
}

.form-control{
  background-color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EditarEstructura .Perfil .InfoUsuario{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.lupa{
  width: 30%;
}

.cerrarSesion{
  display: flex;
  justify-content: center;
  margin: 2%;
}

.Foto{
  background-color: #17171700;
}

.Foto:hover{
  background-color: #17171700;
}

/*Landing page*/
.indexh1{
  color:#7EF3BC;
  font-size: 50px;
  text-align: center;
  margin: 2%;
}

.Indexinfo{
  font-size: xx-large;
  color: #7EF3BC;
}

.centrar{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2%;
}

.logoIndex{
  width: 10%;
}

.InformacionUsuario{
  display:flex;
  align-items: center;
}